
html{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar{
    display: none;
}
.fs{
    font-family: 'Fraunces', serif ;
}
.fs2{
    font-family:  'Barlow', sans-serif;
}

.header{
    background-image: url(./images/desktop/image-header.jpg);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}
.back{
   background-color: #3EBEFF;
}
.letter h1{
    letter-spacing: 5px;
    padding-top: 50px;
    font-size: 60px;
    font-family: 'Fraunces', serif;
}
.arrow{
    padding-top: 170px;
}
.tab{
    font-size: 18px;
}
.contact-btn{
    font-family: 'Fraunces', serif;
    font-size: 19px;
    border-end-start-radius: 30px;
    border-start-end-radius: 30px;
    border-start-start-radius: 30px;
    border-end-end-radius: 30px ;
}
.egg{
    padding-left: 0;
    padding-right: 0;
}
.transform{
    padding-top: 100px;
    padding-left: 100px;
}
.transform h2{
    font-family: 'Fraunces', serif;
    font-size: 50px;
}
.transform p{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 30px;
   

}
.transform a{
    font-size:25px;
    font-family: 'Fraunces', serif;
}
.pad{
    padding-left: 0;
    padding-right: 0;
  
}
.cherry{
    background-image: url(./images/desktop/image-graphic-design.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 600px;
}
.orange{
    background-image: url(./images/desktop/image-photography.jpg);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 600px;
}
.alignment {
    padding-top: 400px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  
}

.photo{
    object-fit: cover;
       
  
    width: 100%;
}
.footer{
    background-color: aquamarine;
}
.footer ul li a{
    text-decoration: none;
    color: #343434;
}
.menubar-icon{
    display: none;

}
.menubar{
    display: none;
}

@media (max-width:800px) {
    .header{
        padding-right: 0;
        
    }
    .menu{
        display: none;
    }
    .arrow{
        padding-top:60px ;
    }
    .letter h1{
        font-size: 50px;
    }
    .transform{
        text-align: center;
        padding: 10px;
    
    }
  
    .row{
        display: block;
       
    }
    .cherry{
        width: 100%;
      
    }
  .orange{
    width: 100%;
   
  }
  .egg{
    width: 100%;
  }
  .menubar-icon{
    display: inline;
    cursor: pointer;
  }
  .menubar{
   display: block;
   position: absolute;
   top: 5;
   left: 0;
   right: 0;
   margin: 0 auto;
  }
  .menubar.show{
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  
}
