.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
  padding:0;
  margin:0;
  overflow-x: hidden;


}
.orange{
    min-height: 100vh;
  background-image: url(./images/desktop/image-header.jpg);
  
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.navContainer{
    display: flex;
    justify-content: space-between;
    
    padding: 0px 40px;
    align-items: center;
}
.navContainer ul li a{
    text-decoration: none;
    color: white;
}

.navContainer ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.logoName{
    cursor: pointer;
    color: white;
    font-weight: 900;
    font-size: 40px;
     font-family: 'Barlow', sans-serif;
}
.navContainer ul button{
    background-color: white;
    padding: 15px 30px;
    border: 1px solid transparent;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;
}
.we{
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 90%;
    transform: translate(-50%,-40%);
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 10px;
    display: flex;
    flex-direction: column;
     align-items: center;
     
}
.arrow{
    margin-top:100px ;
}

.menubar{
    display: none;
}
.rightdiv{
   background-image: url(./images/desktop/image-transform.jpg);
   background-position: center;
   background-size: cover;
   min-height: 50%;
    width: 50%;
}
.parent1{
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
}
.parent{

    display: flex;
   flex-direction: row;
   height: 500px;
   width: 100%;
}
.leftdiv{
    width: 50%;
    position: relative;
}
.transform{
    position: absolute;
    top: 90px;
    left: 150px;
    
}
.transform1{
    position: absolute;
    top: 90px;
    left: 150px;
}
.transform h3{
    font-family: 'Fraunces','serif';
    font-weight: 900;
    font-size: 40px;
}

.transform p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    opacity: 0.5;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 27px;

}
.transform1 h3{
    font-family: 'Fraunces','serif';
    font-weight: 900;
    font-size: 40px;
}

.transform1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    opacity: 0.5;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 27px;

}
.learn{
    font-size: 16px;
    padding-top:20px;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
}
.learn::after{
    
    content: '';
    width: 0;
    height: 3px;
    background-color:gold;
    display: block;
    margin-left:0px ;
    transition: 0.5s;

}
.learn:hover::after{
    width: 110px;
}

.leftdiv1{
    background-image: url(./images/desktop/image-stand-out.jpg);
   background-position: center;
   background-size: cover;
   min-height: 50%;
    width: 50%;
}
.rightdiv1{
    width: 50%;
    position: relative;
}

.learn1{
    font-size: 16px;
    padding-top:20px;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
}
.learn1::after{
    
    content: '';
    width: 0;
    height: 3px;
    background-color:#F47174;
    display: block;
    margin-left:0px ;
    transition: 0.5s;

}
.learn1:hover::after{
    width: 110px;
}

.twoimages{
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
}

.cheery{
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
    min-height: 50%;
     width: 50%;
}
.photo{
    background-image: url(./images/desktop/image-photography.jpg);
    background-position: center;
    background-size: cover;
    min-height: 50%;
     width: 50%;
}
.cheery{
    position: relative;
}
.cheerysar{
    position: absolute;
    text-align: center;
    top: 270px;
    left: 170px;
}
.cheerysar h3{
    font-family: 'Fraunces','serif';
    opacity: 0.7;
    font-weight: 900;
    font-size: 40px;
}
.cheerysar p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    opacity: 0.5;
    font-weight: bold;

    line-height: 27px;
}
.photo{
    position: relative;
}
.photosar{
    position: absolute;
    text-align: center;
    top: 270px;
    left: 170px;
}

.photosar h3{
    font-family: 'Fraunces','serif';
    opacity: 0.7;
    font-weight: 900;
    font-size: 40px;
}
.photosar p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    opacity: 0.5;
    font-weight: bold;

    line-height: 27px;
}
.row{
    display: flex;
    justify-content: space-around;
    
}
.client{
    width: 100vw;
    height: 500px;
    text-align: center;
   
}
.client h1{
    margin:100px auto 80px ;
    opacity: 0.3;
    font-size: 26px;
    letter-spacing: 6px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
}
.profile{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.container{
    margin-top: 80px;
}
.container p{
    font-family: Arial, Helvetica, sans-serif;
    opacity: .8;
    font-weight: bold;
    font-size: 16px;
}
.name{
    margin-top: 90px;
}
.name h3{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}
.name p{
    font-family: Arial, Helvetica, sans-serif;
    opacity: .5;

}
.gallery{
    width: 375px;
   
}
.imageContainer{
    display: flex;
   
   width: 100%;
   margin-top:150px ;
   top: 200px;
   
}
.curosal{
 
    width: 100vw;
}

.contact{
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: aquamarine;
    text-align: center;
}
.contact h3{
    color: #343434;
    opacity: .7;
    font-family: Arial, Helvetica, sans-serif;

   font-size: 30px;
   margin-top: 80px;
}
.contact ul{
    list-style: none;
    margin-bottom: 80px;
}
.contact ul li{
    display: inline;
 
    padding-right: 50px;
   
}
.contact ul li a{
    font-family: Arial, Helvetica, sans-serif;
    opacity: .5;
    font-weight:    bold;
    transition: 0.1s;
}
.contact img{
    padding-right: 20px;
}
.contact ul li a:hover{
    cursor: pointer;
    opacity: 1;
    font-size: 18px;
    
    

}
.contact img:hover{
    cursor: pointer;
}
.footer{
    position: relative;
}

@media (max-width:700px) {
    .we{
        font-size: 50px;
    }
    .navContainer ul li{
        display: none;
    }
    .menubar{
        display: block;
        position: absolute;
        top: 10px;
        right: 30px;
        z-index: 20;
        font-size: 30px;
        cursor: pointer;
    }
    .arrow{
        margin-top: 10px;
    }
    .menu{
        display: block;
        background-color: white;
        position: absolute;
        top: 30%;
        left: 50%;
        width: 80%;
        box-shadow: 2px 2px 9px rgba(186, 184, 184, 0.328);
        transform: translate(-50%,-50%);
        z-index: 2;
        text-align: center;
        /* transition: .3s; */
        border-radius: 7px;

    }
    .menu.burger{
        opacity: 0;
        transition: 0.6s;
    }
    .menu ul li{
       
        line-height: 40px;
        display: block;
        padding-left: 0px;
       
    }
    .menu ul li a{
        color: #343434;
        opacity: 0.7;
        font-size: 20px;
    }
    .menu ul li a:hover{
        opacity: 1;
    }
    .menu ul li button{
        background-color: gold;
    }
    .parent{
       display: block;
        height: 800px;
        position: relative;
    }
    .rightdiv{
        width: 100%;
        height: 400px;
    }
   .transform h3{
    font-size: 40px;
   }
   .transform p{
    letter-spacing: normal;
    line-height: 20px;
    width: 90%;
    margin: 0 auto;
   }


   .transform{
    position: absolute;
    width: 100vw;
    top: 400px;
    text-align: center;
    left: 0;
   }
   .learn:hover::after{
    width: 0;
   }
   .parent1{
    display: block;
    height: 800px;
   
   }
   .leftdiv1{
    width: 100%;
    height: 400px;
   }
   .rightdiv1{
    position: relative;
   }
   
   .transform1{
    text-align: center;
    position: absolute;
    left: 0;
    width: 100vw;
    top: 0;
   }
   .transform1 h3{
    font-size: 40px;
    
   }
   .transform1 p{
    letter-spacing: normal;
    line-height: 20px;
    width: 90%;
    margin: 0 auto;
   }
   .learn1:hover::after{
    width: 0;
   }
   .twoimages{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
   }
   .cheery{
    width: 100vw;
    height:500px ;
   }
   .photo{
    width: 100vw;
    height: 500px;
   }
   .cheerysar{
     position: absolute;
     width: 100%;
     top: 250px;
     left: 0;
     right: 0;
   } 
   .cheerysar h3{
    opacity: 0.6;
   }
   .photosar{
    position: absolute;
     width: 100%;
     top: 250px;
     left: 0;
     right: 0;
   }
   .photosar H3{
    opacity: 0.6;
   }
.row{
    display: block;
}
.container p{
    font-size: 19px;
    opacity: .5;
}
.name{
   
    margin-top: 40px;
    margin-bottom: 60px;
}
.curosal{
    width: 100vw;
    position: relative;
}
.imageContainer{
    position: absolute;
    top: 900px;
    display: flex;
    flex-wrap: wrap;
}
.gallery{
    width: 50%;
}

.footer{
    position: relative;
}
.contact{
    position: absolute;
    top: 1550px;
}

}
